@model IEnumerable<RSFC_web.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player_Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player_Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player_Phone_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coaches)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player_Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player_Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player_Phone_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coaches.CoachId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positions.PositionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teams.TeamId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
