@model RSFC_web.Models.Coach

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Coach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coach_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coach_Phone_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach_Phone_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coach_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coach_Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach_Nationality)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CoachId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
