@model IEnumerable<RSFC_web.Models.Position>

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Positions</h1>
<body class="background"></body>
<p>
    <a asp-action="Create" class="create-button", class="create-container">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Position_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position_Name)
            </td>
            <td>
                <a asp-action="Edit" class="edit-button" asp-route-id="@item.PositionId">Edit</a> |
                <a asp-action="Details" class="detail-button" asp-route-id="@item.PositionId">Details</a> |
                <a asp-action="Delete" class="delete-button" asp-route-id="@item.PositionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
