@model IEnumerable<RSFC_web.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Transactions</h1>
<body class="background"></body>
<p>
    <a asp-action="Create" class="create-button">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction_Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction_Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Players.Player_Name)
            </td>
            <td>
                <a asp-action="Edit" class="edit-button" asp-route-id="@item.TransactionId">Edit</a> |
                <a asp-action="Details" class="detail-button" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-action="Delete" class="delete-button" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
